<%- include('header') %>

<div class="room-menu-container">
    <ul class="room-menu">
        <li><button class="switchRoom" data-room="main">Main</button></li>
        <li><button class="switchRoom" data-room="frontend">Frontend</button></li>
        <li><button class="switchRoom" data-room="backend">Backend</button></li>
        <li><button class="switchRoom" data-room="desktop">Desktop</button></li>
        <li><button class="switchRoom" data-room="mobile">Mobile</button></li>
        <li><button class="switchRoom" data-room="web">Web</button></li>
    </ul>
</div>

<div class="chat-window">
    <aside class="chat-window-left">
        <div id="roomname"></div>
        <div class="userswindow">
            <ul id="userslist"></ul>
            <a href="/" id="logout" class="btn btn-primary">Logout</a>
        </div>
    </aside>
    <section class="chat-window-right">
        <div class="chatmessages"></div>
        <div class="inputgroup">
            <div class="console">
                <div class="consoleTop">
                    <label id="console_label" for="msgTxt">./room | user | id ></label>
                    <div id="feedback"></div>
                </div>
                <input type="text" name="msgTxt" placeholder="Type a message.." class="form-control">
            </div>
            <button class="btn btn-success" id="sendBtn">Send</button>
        </div>
    </section>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/app.js"></script>

<%- include('footer') %>