<%- include('header') %>
<form action="/auth" method="POST" class="loginform">
    <label for="username">User name</label>
    <input type="text" name="username" class="form-control" placeholder="Your user name">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <label for="room">Room name:</label>
    <select name="room" class="form-control">
        <option value="main">Main</option>
        <option value="frontend">Frontend</option>
        <option value="backend">Backend</option>
        <option value="desktop">Desktop</option>
        <option value="mobile">Mobile</option>
        <option value="web">Web</option>
    </select><br>
    <button class="btn btn-primary">Join to Room</button>
    <a class="reg-link" href="/register">Regisztráció</a>
</form>

<%- include('footer') %>
