<%- include('header') %>
<form action="/chat" method="POST" class="loginform">
    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" class="form-control" placeholder="Your nickname">
    <label for="room">Room name:</label>
    <select name="room" class="form-control">
        <option value="Main">Main</option>
        <option value="Frontend">Frontend</option>
        <option value="Backend">Backend</option>
        <option value="Desktop">Desktop</option>
        <option value="Mobile">Mobile</option>
        <option value="Web">Web</option>
    </select><br>
    <button class="btn btn-primary">Join to Room</button>
</form>
<%- include('footer') %>